/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}


#navbarSupportedContent a:hover {
  color: red;
  font-size: 125%;
}
.navbar {
  height: 5em;
}

#nomeFestivalNav{
  font-size: 2em;
  margin-left: 0.5em;
}

#navbar ul{
  /*background-color: red;*/
  margin-left: 2.5em;
  column-gap: 2em;
}

#welcomeVideo{
  width: 100%;
}

#welcomeImage {
  width: 100%;
  height: 30em;
}

#ticketCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

#cardBody {
  margin-bottom: 1.5em;
  margin-left: 1.5em;
}

.cardButton {
  background-color: #212529;
  color: #9a9c9e;
  border-radius: 20%;
  padding: 0.5em;
}

#botaovermelho{
  background-color: #d10200;
  color: #212529;
  font-weight: 10000;
}

#footer {
  background-color: #212529;
  clear: both;
  bottom: 0;
  width:100%;
  display: flex;
  justify-content: space-around;

}

#text a:link {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  
}

#footerButton {
  color:#9a9c9e;
}

#footer ul{
  color:#9a9c9e;
  column-gap: 2em;
  display: flex;
  justify-content: center;
  list-style: none;

}

#ticketImage{
  padding: 0em;
  margin: 0em;
}

#bookingContent {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  margin-top: 2em;
  background-color: rgb(255, 192, 197);
}

#form {
  margin: 2em;
  padding: 1em;
}

#buy {
}

#botaofodido {
  
}

#notify{
}

#map{
  padding: 1em;
  margin-bottom: 5em;
  
}

#iframe {
  width: 100%;
}



#bigDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#privacyPolicy{
  padding-left: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-top: 0%;
}

#privacyBar {
}

#aboutUs1{
  width: 100%;
  height: 60em;
}
#aboutUs2{
height: 30em;
width: 50em;
}
#aboutUsDiv{
display: flex;
justify-content: space-around;
padding: 2em;
}
#usLast{
  padding-bottom: 2em;
  margin: 0em;
}


#rafflebody{
  background-color: pink;
  /*background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;*/

  
}

text{
        font-family:Helvetica, Arial, sans-serif;
        font-size:11px;
        pointer-events:none;

    }
#chart{
        display: flex;
        width:500px;
        height:500px;
        
    }
    #question{
       display: flex;
    }
    #question h1{
        padding-top: 6em;
        padding-bottom:4 em;
        font-size: 50px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color:black;
        
    }
    #wheel{
      margin-top: 2em;
      margin-right: 2em;
      font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color:black;
      /*display: flex;
      margin: 10em;
      justify-content: space-around;*/
      

    }

    #tudo{
      display: flex;
      justify-content: center;

    }

    #slider{
      display: flex;
      justify-content: space-around;
      width: 60%;
      padding: 2em;
    }

    #carouselExampleIndicators{
      width: 100%;
    }
   
    /*-webkit-transform:translate(0,0%);
                transform:translate(0,177%);*/

                



